# Big Project description

In [4]:
# I first need to import the standard libraries I will be using
import pandas as pd  # For converting csv data to dataframe and work with pandas
import matplotlib.pyplot as plt  # For creating plots
import seaborn as sns  # For visualizations
from datetime import datetime  # For working with dates

In [10]:
# now I can load my CSV file using Pandas
df_sunshinedata = pd.read_csv('mtm03-sunshine-with-long-lat.csv')

# display the data to see if pulled through correctly
print("A preview of the dataset is shown below: ")
display(df_sunshinedata)

A preview of the dataset is shown below:

,STATISTIC,Statistic Label,Month,month_date,Meteorological Weather Station,UNIT,VALUE,latitude,longitude
0,MTM03C1,Total Sunshine Hours,1958M01,1958-01-01,Belmullet,Number,43.7,54.226,-9.992
1,MTM03C1,Total Sunshine Hours,1958M01,1958-01-01,Birr,Number,64.6,53.095,-7.902
2,MTM03C1,Total Sunshine Hours,1958M01,1958-01-01,Valentia Observatory,Number,46.8,51.936,-10.244
3,MTM03C1,Total Sunshine Hours,1958M01,1958-01-01,Casement,Number,NaN,53.307,-6.447
4,MTM03C1,Total Sunshine Hours,1958M01,1958-01-01,Claremorris,Number,51.6,53.719,-9.006
...,...,...,...,...,...,...,...,...,...
23395,MTM03C2,Most Sunshine Hours in a Day,2022M12,2022-12-01,Malin head,Number,NaN,55.385,-7.378
23396,MTM03C2,Most Sunshine Hours in a Day,2022M12,2022-12-01,Mullingar,Number,NaN,53.525,-7.340
23397,MTM03C2,Most Sunshine Hours in a Day,2022M12,2022-12-01,Roches Point,Number,NaN,51.785,-8.252
23398,MTM03C2,Most Sunshine Hours in a Day,2022M12,2022-12-01,Rosslare,Number,NaN,52.261,-6.331
23399,MTM03C2,Most Sunshine Hours in a Day,2022M12,2022-12-01,Shannon airport,Number,6.8,52.684,-8.925