# Big Project description

In [2]:
# I first need to import the standard libraries I will be using
import pandas as pd  # For converting csv data to dataframe and work with pandas
import matplotlib.pyplot as plt  # For creating plots
import seaborn as sns  # For visualizations
from datetime import datetime  # For working with dates

In [3]:
# now I can load my CSV file using Pandas
df_sunshinedata = pd.read_csv('mtm03-sunshine-with-long-lat.csv')

# display the data to see if pulled through correctly
print("A preview of the dataset is shown below: ")
display(df_sunshinedata)

A preview of the dataset is shown below:

,STATISTIC,Statistic Label,Month,month_date,Meteorological Weather Station,UNIT,VALUE,latitude,longitude
0,MTM03C1,Total Sunshine Hours,1958M01,1958-01-01,Belmullet,Number,43.7,54.226,-9.992
1,MTM03C1,Total Sunshine Hours,1958M01,1958-01-01,Birr,Number,64.6,53.095,-7.902
2,MTM03C1,Total Sunshine Hours,1958M01,1958-01-01,Valentia Observatory,Number,46.8,51.936,-10.244
3,MTM03C1,Total Sunshine Hours,1958M01,1958-01-01,Casement,Number,NaN,53.307,-6.447
4,MTM03C1,Total Sunshine Hours,1958M01,1958-01-01,Claremorris,Number,51.6,53.719,-9.006
...,...,...,...,...,...,...,...,...,...
23395,MTM03C2,Most Sunshine Hours in a Day,2022M12,2022-12-01,Malin head,Number,NaN,55.385,-7.378
23396,MTM03C2,Most Sunshine Hours in a Day,2022M12,2022-12-01,Mullingar,Number,NaN,53.525,-7.340
23397,MTM03C2,Most Sunshine Hours in a Day,2022M12,2022-12-01,Roches Point,Number,NaN,51.785,-8.252
23398,MTM03C2,Most Sunshine Hours in a Day,2022M12,2022-12-01,Rosslare,Number,NaN,52.261,-6.331
23399,MTM03C2,Most Sunshine Hours in a Day,2022M12,2022-12-01,Shannon airport,Number,6.8,52.684,-8.925

In [4]:
# Basic data
# now I want to check some basic data regarding the dataset
print("\nColumn Names and Data Types:")
print(df_sunshinedata.dtypes) # check the value types contained

print("\nBasic Statistics:")
print(df_sunshinedata.describe()) # check for basic statistics on the data contained

print("\nMissing Values:")
print(df_sunshinedata.isnull().sum()) # check for the number of missing values in the total of 23399 rows of data. I will have to remove missing data later that it does not distort my plots

Column Names and Data Types:
STATISTIC                          object
Statistic Label                    object
Month                              object
month_date                         object
Meteorological Weather Station     object
UNIT                               object
VALUE                             float64
latitude                          float64
longitude                         float64
dtype: object

Basic Statistics:
              VALUE      latitude     longitude
count  18651.000000  23400.000000  23400.000000
mean      60.753381     53.153400     -8.008267
std       63.678586      0.970647      1.223480
min        0.000000     51.785000    -10.244000
25%        9.800000     52.261000     -9.006000
50%       16.000000     53.270000     -7.902000
75%      106.600000     53.719000     -7.234000
max      301.000000     55.385000     -6.270000

Missing Values:
STATISTIC                            0
Statistic Label                      0
Month                                0
month_date                           0
Meteorological Weather Station       0
UNIT                                 0
VALUE                             4749
latitude                             0
longitude                            0
dtype: int64

In [5]:
# Unique values in columns
# I want to check how many unique values can be found in key columns of the dataset
print("\nUnique weather stations contained in this dataset are:")
print(df_sunshinedata['Meteorological Weather Station'].unique())

print("\nUnique data points contained in this dataset are:")
print(df_sunshinedata['Statistic Label'].unique()) # two labels of data found

Unique weather stations contained in this dataset are:
['Belmullet' 'Birr' 'Valentia Observatory' 'Casement' 'Claremorris'
 'Clones' 'Cork airport' 'Dublin airport' 'Galway' 'Kilkenny' 'Malin head'
 'Mullingar' 'Roches Point' 'Rosslare' 'Shannon airport']

Unique data points contained in this dataset are:
['Total Sunshine Hours' 'Most Sunshine Hours in a Day']

In [9]:
# Remove blanks from data & convert applicable to datetime
# now I need to clean the data or remove rows with NA or blank values
df_sunshinedata = df_sunshinedata.dropna(subset=['VALUE']) # remove rows with no values
print(f"\nRows after removing missing values: {len(df_sunshinedata)}") # check nr of rows remove with above calculation
# 23400 rows total - 4749 rows with missing data = 18651 and this is correct

# change the month_date column into a datetime format
df_sunshinedata["month_date"] = pd.to_datetime(df_sunshinedata["month_date"])
# I will now add new columns to split the year, month and add a name for that month
df_sunshinedata['Year'] = df_sunshinedata['month_date'].dt.year # create new column for year
df_sunshinedata['Month_Num'] = df_sunshinedata['month_date'].dt.month # create new column for month number
df_sunshinedata['Month_Name'] = df_sunshinedata['month_date'].dt.month_name() # create new column for month name 

# Rename VALUE column to be more descriptive
df_sunshinedata = df_sunshinedata.rename(columns={'VALUE': 'Sunshine_Hours'})

display(df_sunshinedata)

Rows after removing missing values: 18651

,STATISTIC,Statistic Label,Month,month_date,Meteorological Weather Station,UNIT,Sunshine_Hours,latitude,longitude,Year,Month_Num,Month_Name
0,MTM03C1,Total Sunshine Hours,1958M01,1958-01-01,Belmullet,Number,43.7,54.226,-9.992,1958,1,January
1,MTM03C1,Total Sunshine Hours,1958M01,1958-01-01,Birr,Number,64.6,53.095,-7.902,1958,1,January
2,MTM03C1,Total Sunshine Hours,1958M01,1958-01-01,Valentia Observatory,Number,46.8,51.936,-10.244,1958,1,January
4,MTM03C1,Total Sunshine Hours,1958M01,1958-01-01,Claremorris,Number,51.6,53.719,-9.006,1958,1,January
5,MTM03C1,Total Sunshine Hours,1958M01,1958-01-01,Clones,Number,53.8,54.195,-7.234,1958,1,January
...,...,...,...,...,...,...,...,...,...,...,...,...
23384,MTM03C2,Most Sunshine Hours in a Day,2022M11,2022-11-01,Shannon airport,Number,6.3,52.684,-8.925,2022,11,November
23388,MTM03C2,Most Sunshine Hours in a Day,2022M12,2022-12-01,Casement,Number,6.2,53.307,-6.447,2022,12,December
23391,MTM03C2,Most Sunshine Hours in a Day,2022M12,2022-12-01,Cork airport,Number,7.0,51.841,-8.491,2022,12,December
23392,MTM03C2,Most Sunshine Hours in a Day,2022M12,2022-12-01,Dublin airport,Number,6.7,53.421,-6.270,2022,12,December
23399,MTM03C2,Most Sunshine Hours in a Day,2022M12,2022-12-01,Shannon airport,Number,6.8,52.684,-8.925,2022,12,December

In [10]:
# Previously I saw two data points of info tabelled downward. Now I want to split these
df_totalsunshinehrs = df_sunshinedata[df_sunshinedata['Statistic Label'] == 'Total Sunshine Hours'] # filter by the info in Statistic Label column I want
print('Dataset for Total Sunshine Hours: ')
display(df_totalsunshinehrs) # show the seperate dataset

df_maxsunshinehrs_perday = df_sunshinedata[df_sunshinedata['Statistic Label'] == 'Most Sunshine Hours in a Day'] # filter by the info in Statistic Label column I want
print('Dataset for Most Sunshine Hours in a Day: ')
display(df_maxsunshinehrs_perday) # show the seperate dataset

Dataset for Total Sunshine Hours:

,STATISTIC,Statistic Label,Month,month_date,Meteorological Weather Station,UNIT,Sunshine_Hours,latitude,longitude,Year,Month_Num,Month_Name
0,MTM03C1,Total Sunshine Hours,1958M01,1958-01-01,Belmullet,Number,43.70,54.226,-9.992,1958,1,January
1,MTM03C1,Total Sunshine Hours,1958M01,1958-01-01,Birr,Number,64.60,53.095,-7.902,1958,1,January
2,MTM03C1,Total Sunshine Hours,1958M01,1958-01-01,Valentia Observatory,Number,46.80,51.936,-10.244,1958,1,January
4,MTM03C1,Total Sunshine Hours,1958M01,1958-01-01,Claremorris,Number,51.60,53.719,-9.006,1958,1,January
5,MTM03C1,Total Sunshine Hours,1958M01,1958-01-01,Clones,Number,53.80,54.195,-7.234,1958,1,January
...,...,...,...,...,...,...,...,...,...,...,...,...
11684,MTM03C1,Total Sunshine Hours,2022M11,2022-11-01,Shannon airport,Number,71.70,52.684,-8.925,2022,11,November
11688,MTM03C1,Total Sunshine Hours,2022M12,2022-12-01,Casement,Number,68.51,53.307,-6.447,2022,12,December
11691,MTM03C1,Total Sunshine Hours,2022M12,2022-12-01,Cork airport,Number,78.74,51.841,-8.491,2022,12,December
11692,MTM03C1,Total Sunshine Hours,2022M12,2022-12-01,Dublin airport,Number,76.26,53.421,-6.270,2022,12,December
11699,MTM03C1,Total Sunshine Hours,2022M12,2022-12-01,Shannon airport,Number,68.20,52.684,-8.925,2022,12,December

Dataset for Most Sunshine Hours in a Day:

,STATISTIC,Statistic Label,Month,month_date,Meteorological Weather Station,UNIT,Sunshine_Hours,latitude,longitude,Year,Month_Num,Month_Name
11700,MTM03C2,Most Sunshine Hours in a Day,1958M01,1958-01-01,Belmullet,Number,5.9,54.226,-9.992,1958,1,January
11701,MTM03C2,Most Sunshine Hours in a Day,1958M01,1958-01-01,Birr,Number,7.0,53.095,-7.902,1958,1,January
11702,MTM03C2,Most Sunshine Hours in a Day,1958M01,1958-01-01,Valentia Observatory,Number,6.2,51.936,-10.244,1958,1,January
11704,MTM03C2,Most Sunshine Hours in a Day,1958M01,1958-01-01,Claremorris,Number,5.7,53.719,-9.006,1958,1,January
11705,MTM03C2,Most Sunshine Hours in a Day,1958M01,1958-01-01,Clones,Number,6.3,54.195,-7.234,1958,1,January
...,...,...,...,...,...,...,...,...,...,...,...,...
23384,MTM03C2,Most Sunshine Hours in a Day,2022M11,2022-11-01,Shannon airport,Number,6.3,52.684,-8.925,2022,11,November
23388,MTM03C2,Most Sunshine Hours in a Day,2022M12,2022-12-01,Casement,Number,6.2,53.307,-6.447,2022,12,December
23391,MTM03C2,Most Sunshine Hours in a Day,2022M12,2022-12-01,Cork airport,Number,7.0,51.841,-8.491,2022,12,December
23392,MTM03C2,Most Sunshine Hours in a Day,2022M12,2022-12-01,Dublin airport,Number,6.7,53.421,-6.270,2022,12,December
23399,MTM03C2,Most Sunshine Hours in a Day,2022M12,2022-12-01,Shannon airport,Number,6.8,52.684,-8.925,2022,12,December

In [ ]:
# Now I will calculate the average sunshine hours for each weather station
# use .groupby to group the data per wearther station
mean_by_station = df_totalsunshinehrs.groupby('Meteorological Weather Station')['Sunshine_Hours'].agg([
    ('Mean_hours', 'mean'), # calculate the mean
    ('Median_hours', 'median'), # calculate the median
    ('Min_hours', 'min'), # calculate the minimum value
    ('Max_hours', 'max'), # calculate the maximum value
    ('Std_dev', 'std'),]).round(2).sort_values('Mean_hours', ascending=False) # sort higest to lowest using mean hours and round figures to 2 decimals

print("\n Sunshine hours range per weather station per month:")
display(mean_by_station) # show table
# this gives us an insight which locations have more sunlight hours than others

 Sunshine hours range per weather station per month:

,Mean_hours,Median_hours,Min_hours,Max_hours,Std_dev
Meteorological Weather Station,,,,,
Rosslare,134.25,134.20,10.5,301.0,63.15
Dublin airport,121.59,119.80,16.4,295.1,53.95
Roches Point,120.13,116.50,18.9,271.6,56.78
Cork airport,118.89,116.70,0.0,264.4,55.53
Casement,114.85,111.60,22.3,293.6,52.77
Galway,112.18,110.50,0.0,268.5,53.05
Kilkenny,110.45,106.35,21.7,275.0,50.64
Mullingar,109.48,105.30,19.8,271.6,49.56
Shannon airport,109.43,104.60,19.5,255.1,51.75
Belmullet,108.90,105.10,14.9,289.6,57.38
Valentia Observatory,105.99,102.60,16.1,277.9,54.47
Malin head,105.94,98.00,9.6,287.5,59.50
Birr,102.05,97.70,20.0,248.3,46.67
Clones,99.47,97.00,14.7,256.1,49.31
Claremorris,93.38,87.75,12.8,247.8,47.41

In [31]:
# Now I will calculate the average sunshine hours for each month
# use .groupby to group the data per month number
mean_by_month = df_totalsunshinehrs.groupby('Month_Num')['Sunshine_Hours'].agg([
    ('Mean_hours', 'mean'), # calculate the mean
    ('Median_hours', 'median'), # calculate the median
    ('Min_hours', 'min'), # calculate the minimum value
    ('Max_hours', 'max'), # calculate the maximum value
    ('Std_dev', 'std'),]).round(2) # sort higest to lowest using mean hours and round figures to 2 decimals

print("\n Sunshine hours range per month (across all stations):")
display(mean_by_month) # show table
# this gives us an insight which months have more sunlight hours than others

 Sunshine hours range per month (across all stations):

           Mean_hours  Median_hours  Min_hours  Max_hours  Std_dev
Month_Num
1               51.62         50.80        0.0      118.4    17.36
2               68.62         65.50        0.0      199.4    21.28
3              103.34        102.05        0.0      203.1    27.80
4              152.71        152.10       69.0      246.3    30.79
5              184.56        181.50       84.9      295.1    37.94
6              165.94        160.85       68.9      301.0    41.16
7              147.74        143.45       58.7      289.5    40.72
8              147.43        143.20       58.8      280.5    35.42
9              118.58        116.10       54.1      219.5    24.79
10              89.89         89.70       40.4      150.0    20.53
11              61.42         61.35        0.0      116.1    17.44
12              45.02         44.50        9.6      104.2    15.47