# Big Project description

In [4]:
# I first need to import the standard libraries I will be using
import pandas as pd  # For converting csv data to dataframe and work with pandas
import matplotlib.pyplot as plt  # For creating plots
import seaborn as sns  # For visualizations
from datetime import datetime  # For working with dates

In [10]:
# now I can load my CSV file using Pandas
df_sunshinedata = pd.read_csv('mtm03-sunshine-with-long-lat.csv')

# display the data to see if pulled through correctly
print("A preview of the dataset is shown below: ")
display(df_sunshinedata)

A preview of the dataset is shown below:

,STATISTIC,Statistic Label,Month,month_date,Meteorological Weather Station,UNIT,VALUE,latitude,longitude
0,MTM03C1,Total Sunshine Hours,1958M01,1958-01-01,Belmullet,Number,43.7,54.226,-9.992
1,MTM03C1,Total Sunshine Hours,1958M01,1958-01-01,Birr,Number,64.6,53.095,-7.902
2,MTM03C1,Total Sunshine Hours,1958M01,1958-01-01,Valentia Observatory,Number,46.8,51.936,-10.244
3,MTM03C1,Total Sunshine Hours,1958M01,1958-01-01,Casement,Number,NaN,53.307,-6.447
4,MTM03C1,Total Sunshine Hours,1958M01,1958-01-01,Claremorris,Number,51.6,53.719,-9.006
...,...,...,...,...,...,...,...,...,...
23395,MTM03C2,Most Sunshine Hours in a Day,2022M12,2022-12-01,Malin head,Number,NaN,55.385,-7.378
23396,MTM03C2,Most Sunshine Hours in a Day,2022M12,2022-12-01,Mullingar,Number,NaN,53.525,-7.340
23397,MTM03C2,Most Sunshine Hours in a Day,2022M12,2022-12-01,Roches Point,Number,NaN,51.785,-8.252
23398,MTM03C2,Most Sunshine Hours in a Day,2022M12,2022-12-01,Rosslare,Number,NaN,52.261,-6.331
23399,MTM03C2,Most Sunshine Hours in a Day,2022M12,2022-12-01,Shannon airport,Number,6.8,52.684,-8.925

In [ ]:
# now I want to check some basic data regarding the dataset
print("\nColumn Names and Data Types:")
print(df_sunshinedata.dtypes) # check the value types contained

print("\nBasic Statistics:")
print(df_sunshinedata.describe()) # check for basic statistics on the data contained

print("\nMissing Values:")
print(df_sunshinedata.isnull().sum()) # check for the number of missing values in the total of 23399 rows of data. I will have to remove missing data later that it does not distort my plots

Column Names and Data Types:
STATISTIC                          object
Statistic Label                    object
Month                              object
month_date                         object
Meteorological Weather Station     object
UNIT                               object
VALUE                             float64
latitude                          float64
longitude                         float64
dtype: object

Basic Statistics:
              VALUE      latitude     longitude
count  18651.000000  23400.000000  23400.000000
mean      60.753381     53.153400     -8.008267
std       63.678586      0.970647      1.223480
min        0.000000     51.785000    -10.244000
25%        9.800000     52.261000     -9.006000
50%       16.000000     53.270000     -7.902000
75%      106.600000     53.719000     -7.234000
max      301.000000     55.385000     -6.270000

Missing Values:
STATISTIC                            0
Statistic Label                      0
Month                                0
month_date                           0
Meteorological Weather Station       0
UNIT                                 0
VALUE                             4749
latitude                             0
longitude                            0
dtype: int64

Unique weather stations contained in this dataset are:
['Belmullet' 'Birr' 'Valentia Observatory' 'Casement' 'Claremorris'
 'Clones' 'Cork airport' 'Dublin airport' 'Galway' 'Kilkenny' 'Malin head'
 'Mullingar' 'Roches Point' 'Rosslare' 'Shannon airport']

In [19]:
# I want to check how many unique values can be found in key columns of the dataset
print("\nUnique weather stations contained in this dataset are:")
print(df_sunshinedata['Meteorological Weather Station'].unique())

print("\nUnique data points contained in this dataset are:")
print(df_sunshinedata['Statistic Label'].unique()) # two labels of data found

Unique weather stations contained in this dataset are:
['Belmullet' 'Birr' 'Valentia Observatory' 'Casement' 'Claremorris'
 'Clones' 'Cork airport' 'Dublin airport' 'Galway' 'Kilkenny' 'Malin head'
 'Mullingar' 'Roches Point' 'Rosslare' 'Shannon airport']

Unique data points contained in this dataset are:
['Total Sunshine Hours' 'Most Sunshine Hours in a Day']